.hero-card-container {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-card {
  display: inline-block;
  margin: 10px;
  padding: 15px;
  width: 300px;
  background-color: rgb(241, 241, 241);
  text-align: center;
}

.hero-card h4 {
  display: inline-block;
  width: 100px;
}

.hero-card img {
  display: inline-block;
  width: 80px;
  margin: 0px 0px 37px 70px;
}

.table-container {
  margin: 0px 205px;
}

input {
  border: solid black 0.8px;
  padding: 5px;
  border-radius: 15px;
  outline: none;
}

.save-button {
  background-color: #a72ba7;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.delete-button {
  background-color: #4d34bf;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
